@model Autoriza.Models.Sistema

@{
    ViewBag.Title = "Detalhar";
}

<h2>Detalhar</h2>

<div>
    <h4>Sistema</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>

    </dl>
</div>

<div>
    <h4>Perfis</h4>
    <table class="table">
        <tr>
            <th>
                <span>Nome</span>
            </th>
            <th>
                <span>Descrição</span>
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Perfis)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Editar", "Perfil", new { id = item.Id }, null)
                    @Html.ActionLink("Permissões", "Permissoes", "Perfil", new { id = item.Id }, null)
                </td>
            </tr>
        }

    </table>
</div>

<div>
    <h4>Permissões</h4>
    <table class="table">
        <tr>
            <th>
                <span>Nome</span>
            </th>
            <th>
                <span>Descrição</span>
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Permissoes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Editar", "Permissao", new { id = item.Id }, null)
                </td>
            </tr>
        }

    </table>
</div>

<p>
    @Html.ActionLink("Editar", "Editar", "Sistema", new { id = Model.Id }, null)
    @Html.ActionLink("Novo perfil", "Novo", "Perfil", new { id = Model.Id }, null)
    @Html.ActionLink("Nova permissão", "Novo", "Permissao", new { id = Model.Id }, null)
    @Html.ActionLink("Voltar a lista", "Index")
</p>
