@model Autoriza.Models.Perfil

@{
    ViewBag.Title = "Permissoes";
}

<h2>Permissoes</h2>

<div>
    <h4>Perfil</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

    </dl>
</div>

<div>
    <h4>Permissões deste perfil</h4>
    <hr />
    <ul>
        @foreach (var p in ViewBag.permissoes)
        {
            if (Model.Permissoes.Where(x => x.Id == p.Id).Count() > 0)
            {
                <li>@p.Nome <strong>(sim)</strong></li>
            }
            else
            {
                <li>@p.Nome <strong>(não)</strong></li>
            }
        }
    </ul>
</div>

<p>
    @Html.ActionLink("Editar", "Editar", new { id = Model.Id })
</p>
